pkgbase = gosec
	pkgdesc = Golang security checker
	pkgver = 2.5.0
	pkgrel = 1
	url = https://github.com/securego/gosec
	arch = x86_64
	license = Apache
	makedepends = go
	makedepends = git
	depends = glibc
	source = https://github.com/securego/gosec/archive/v2.5.0/gosec-2.5.0.tar.gz
	sha256sums = 5d4967570f953c8478a3e51a0dee5cfe6313f2570eca15e6fabd5d6379e530f4

pkgname = gosec

