pkgbase = prometheus-operator
	pkgdesc = Creates, configures and manages Prometheus clusters atop Kubernetes
	pkgver = 0.41.1
	pkgrel = 1
	url = https://github.com/coreos/prometheus-operator
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	provides = po-docgen
	provides = po-lint
	provides = po-rule-migration
	source = https://github.com/coreos/prometheus-operator/archive/v0.41.1/prometheus-operator-0.41.1.tar.gz
	sha256sums = 20f1aa48114745c786cd8ae63a50658bec0c99c7b2d264830a6a1bc5e70296e0

pkgname = prometheus-operator

