pkgbase = prometheus-operator
	pkgdesc = Creates, configures and manages Prometheus clusters atop Kubernetes
	pkgver = 0.42.1
	pkgrel = 1
	url = https://github.com/coreos/prometheus-operator
	arch = x86_64
	license = Apache
	makedepends = go
	depends = glibc
	provides = po-docgen
	provides = po-lint
	provides = po-rule-migration
	source = https://github.com/coreos/prometheus-operator/archive/v0.42.1/prometheus-operator-0.42.1.tar.gz
	sha256sums = 0a0e6a25e36fcebdf402f9e8627079a5e02c0cdbf2ba17dff6f052ce4e8050f4

pkgname = prometheus-operator

