pkgbase = go-swagger
	pkgdesc = Toolkit for swagger in golang (go-swagger)
	pkgver = 0.23.0
	pkgrel = 2
	url = https://goswagger.io
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv6h
	arch = armv7h
	groups = swagger
	license = Apache
	makedepends = git
	makedepends = go
	depends = glibc
	provides = swagger
	conflicts = swagger
	source = go-swagger-0.23.0.tar.gz::https://github.com/go-swagger/go-swagger/archive/v0.23.0.tar.gz
	sha256sums = 853ff265318249d0bbb4a4df68ade5ea1d8d0202c98f4796deb28ab2ca2fc758

pkgname = go-swagger

