pkgbase = cfssl
	pkgdesc = Cloudflare's PKI and TLS toolkit
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/cloudflare/cfssl
	arch = x86_64
	license = BSD
	makedepends = go
	depends = glibc
	source = https://github.com/cloudflare/cfssl/archive/v1.4.1/cfssl-1.4.1.tar.gz
	sha256sums = c8a86ef10cbb0c168f3b597db15b31f98b170edb7958f7154edeb29aee41315e

pkgname = cfssl

