pkgbase = cfssl
	pkgdesc = Cloudflare's PKI and TLS toolkit
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/cloudflare/cfssl
	arch = x86_64
	license = BSD
	makedepends = go
	depends = glibc
	source = https://github.com/cloudflare/cfssl/archive/v1.5.0/cfssl-1.5.0.tar.gz
	sha256sums = 5267164b18aa99a844e05adceaf4f62d1b96dcd326a9132098d65c515c180a91

pkgname = cfssl

