pkgbase = cfssl
	pkgdesc = Cloudflare's PKI and TLS toolkit
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/cloudflare/cfssl
	arch = x86_64
	license = BSD
	makedepends = go
	depends = glibc
	source = https://github.com/cloudflare/cfssl/archive/v1.6.0/cfssl-1.6.0.tar.gz
	sha256sums = 9694e84b42bf3fc547fa5ac5b15099da28129b9b274b3aad3534d7145ca1cc04

pkgname = cfssl
