pkgbase = go-yq
	pkgdesc = portable command-line YAML processor
	pkgver = 4.11.0
	pkgrel = 1
	url = https://github.com/mikefarah/yq
	arch = aarch64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	conflicts = yq
	source = https://github.com/mikefarah/yq/archive/v4.11.0/yq-4.11.0.tar.gz
	sha256sums = 0201719fcdce5e98f7620e854825fb3e81d16abf6108df424dcb00de33b26c21

pkgname = go-yq
