pkgbase = k9s
	pkgdesc = TUI for managing Kubernetes clusters and pods
	pkgver = 0.24.9
	pkgrel = 1
	url = https://github.com/derailed/k9s
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = go
	depends = glibc
	source = https://github.com/derailed/k9s/archive/v0.24.9/k9s-0.24.9.tar.gz
	sha256sums = d4a97a244d2320e42015505e4d78dd1a459adf822371e5e910f6b33027b290ae

pkgname = k9s

