pkgbase = operator-sdk
	pkgdesc = SDK for building Kubernetes applications
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/operator-framework/operator-sdk
	arch = x86_64
	arch = aarch64
	license = Apache
	makedepends = go
	makedepends = git
	depends = glibc
	source = https://github.com/operator-framework/operator-sdk/archive/v0.19.1/operator-sdk-0.19.1.tar.gz
	sha256sums = 184c323367dd39d2c6e775702450a9b803dd4b08408812d6d7973dab35973147

pkgname = operator-sdk

