pkgbase = operator-sdk
	pkgdesc = SDK for building Kubernetes applications
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/operator-framework/operator-sdk
	arch = x86_64
	arch = aarch64
	license = Apache
	makedepends = go
	makedepends = git
	depends = glibc
	provides = ansible-operator
	provides = helm-operator
	source = https://github.com/operator-framework/operator-sdk/archive/v1.0.1/operator-sdk-1.0.1.tar.gz
	sha256sums = d49d285a5610f207ca4682f30a0e58d1dffe3223e54a91a02bdb1110e0b52cf0

pkgname = operator-sdk

