pkgbase = operator-sdk
	pkgdesc = SDK for building Kubernetes applications
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/operator-framework/operator-sdk
	arch = x86_64
	arch = aarch64
	license = Apache
	makedepends = go
	makedepends = git
	depends = glibc
	provides = ansible-operator
	provides = helm-operator
	source = https://github.com/operator-framework/operator-sdk/archive/v1.1.0/operator-sdk-1.1.0.tar.gz
	sha256sums = cb6c91999017e56f0e3c29ac7f62195eb310adb42c2692f3396dee1365e39a11

pkgname = operator-sdk

