pkgbase = skaffold
	pkgdesc = Easy and Repeatable Kubernetes Development
	pkgver = 1.24.0
	pkgrel = 1
	url = https://skaffold.dev
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = go
	depends = docker
	optdepends = kubectl: For Kubernetes support
	optdepends = helm: Helm Chart deployments
	source = https://github.com/GoogleContainerTools/skaffold/archive/v1.24.0/skaffold-1.24.0.tar.gz
	sha256sums = 6572049400a4e311b3c09e1f653eb5b9a9bb605795bec697f0084102263c57a9

pkgname = skaffold

