pkgbase = skaffold
	pkgdesc = Easy and Repeatable Kubernetes Development
	pkgver = 1.28.1
	pkgrel = 1
	url = https://skaffold.dev
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = go
	depends = docker
	optdepends = kubectl: For Kubernetes support
	optdepends = helm: Helm Chart deployments
	source = https://github.com/GoogleContainerTools/skaffold/archive/v1.28.1/skaffold-1.28.1.tar.gz
	sha256sums = 4d96d820d48934b3c12415697146ec30318e235f3a35d4fc68024cda30b655ef

pkgname = skaffold
